coreapi
sqlalchemy
Django

django-extensions
django-choices
django-model-utils
django-redis
django-filters
django-filter
django-cors-headers
django-simple-sso
djangorestframework
django-rest-swagger


iso8601
splinter


Flask
ipython
pyzmq
pytz
requests
Pillow
greenlet
gevent
gfirefly
oauthlib
python-memcached
MySQL-python
Twisted
gtwisted
enum34

qiniu
Markdown
simplejson
uritemplate
itypes
coreschema
